<div class="informacion-container">
  <h1>Los universos y sus planetas</h1>
</div>
  <div class="contenido">

    <div class="texto">
      <section class="via-lactea">
        <h2>Planetas en la Vía Láctea</h2>
        <p>La Vía Láctea es la galaxia en la que se encuentra nuestro sistema solar y, por lo tanto, la que mejor conocemos. 
          Es una galaxia espiral, lo que significa que tiene brazos curvados que giran alrededor de un núcleo central. 
          Se cree que tiene unos 100,000 años luz de diámetro y contiene entre 100,000 y 400,000 millones de estrellas. 
          La forma de la Vía Láctea es aproximadamente un disco plano con un bulbo en el centro, rodeado por un halo de estrellas más viejas.</p>

          <p>Dentro de la Vía Láctea, hay una gran variedad de sistemas estelares y objetos, como planetas, nebulosas, agujeros negros y cúmulos estelares. 
            Uno de los aspectos más fascinantes de nuestra galaxia es que el Sol es solo una de las millones de estrellas que la componen. Además, la Vía Láctea es 
            parte de un grupo de galaxias conocido como el Grupo Local, que incluye alrededor de 54 galaxias. Dentro de estas galaxia encontramos los planetas, divididos en 2 clases,
            rocosos y gaseosos.</p>
            <button class="color-buttom btn btn-secondary ms-3" [routerLink]="['/via lactea']" routerLinkActive="active">
              Saber más
            </button>
      </section>

      <section class="andromeda">
        <h2>Planetas en la Galaxia de Andrómeda</h2>
        <p>La galaxia de Andrómeda (o M31) es la galaxia espiral más cercana a la Vía Láctea y una de las más grandes del Grupo Local, con un diámetro de aproximadamente
           220,000 años luz, lo que la hace significativamente más grande que nuestra propia galaxia. Se encuentra a unos 2.5 millones de años luz de distancia de la 
           Tierra y es visible a simple vista en el cielo nocturno, especialmente en el hemisferio norte.</p>

        <p>Se estima que la galaxia de Andrómeda contiene alrededor de un billón de estrellas, muchas más que las que tiene la Vía Láctea. Una característica notable 
           de Andrómeda es que se está acercando a la Vía Láctea a una velocidad de unos 300 kilómetros por segundo, lo que llevará a ambas galaxias a una colisión dentro
           de unos 4,5 mil millones de años. Esta fusión creará una galaxia más grande y elíptica, conocida como Milkomeda o Lactómeda. Dentro de esta galaxia tambien 
           se encuentran 2 tipos de plaentas, los gaseosos y los rocosos.</p>
           <button class="color-buttom btn btn-secondary ms-3" [routerLink]="['/andromeda']" routerLinkActive="active">
            Saber más
          </button>
      </section>

      <section class="galaxia-triangulo">
        <h2>Planetas en la Galaxia del Triángulo</h2>
        <p>La Galaxia del Triángulo, también conocida como M33 o la Galaxia del Triángulo, es una galaxia espiral que se encuentra cerca de la Vía Láctea y Andrómeda, 
           en el mismo Grupo Local. Tiene un diámetro de aproximadamente 60,000 años luz, lo que la convierte en una galaxia mucho más pequeña que la Vía Láctea o 
           Andrómeda, pero aún así es una de las galaxias más grandes del Grupo Local.</p>

        <p>Se han detectado varios exoplanetas en galaxias cercanas, y aunque no se sabe con certeza cuántos de estos están en la galaxia del Triángulo, 
          se especula que podría tener planetas rocosos y gaseosos similares a los de la Vía Láctea.</p>
          <button class="color-buttom btn btn-secondary ms-3" [routerLink]="['/galaxia triangulo']" routerLinkActive="active">
            Saber más
          </button>
      </section>
    </div>

    <div class="imagenes">
      <img src="https://img2.rtve.es/i/?w=1600&i=1522754810418.jpg" alt="ViaLactea"><br>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Andromeda_Galaxy_560mm_FL.jpg/1200px-Andromeda_Galaxy_560mm_FL.jpg" alt="Andrómeda"><br>
      <img src="https://cdn.agenciasinc.es/var/ezwebin_site/storage/images/_aliases/img_1col/en-exclusiva/embargos/nueva-imagen-de-la-galaxia-del-triangulo/3345821-1-esl-MX/Nueva-imagen-de-la-galaxia-del-Triangulo.jpg" alt="GalaxiaDelTriangulo">
    </div>
  </div> 

